@page "/personas"

<div class="main-header-list">
    <h2>Lista de persona</h2>
    <button type="button" class="btn btn-success" @onclick="AgregarPersona">+ Agregar</button>
    <div class="filter">
        <select class="custom-select" @bind="indexSelect">
            <option value="0">Filtrar por</option>
            <option value="1">Id</option>
            <option value="2">Nombre</option>
        </select>
        <input type="@((indexSelect == 1) ? "number" : "text")" @bind="criterioDeBusqueda" />
        <button class="btn btn-outline-primary" @onclick="FiltarPersonas">Buscar</button>
    </div>
</div>


@if (Personas == null || PersonasFiltrados == null) {
    <div class="loading-message">
        <span>Cargando...</span>
    </div>
} else {
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Balance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var persona in PersonasFiltrados) {
                <tr>
                    <td>@persona.Id</td>
                    <td>@persona.Nombres</td>
                    <td>@persona.Balance</td>
                    <td><button class="btn btn-warning" @onclick="()=>ModificarPersona(persona)">Mas</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@if (MostraDialogoEditor) {
    <DialogoPersona persona="personaEnModificacion"
                              OnClose="OcultarDialogo"
                              EsNuevoPersona="esNuevo" />
}



@code {

    bool MostraDialogoEditor = false;
    bool esNuevo = false;

    int indexSelect = 0; //indice actual del select
    string criterioDeBusqueda;

    Persona personaEnModificacion = new Persona();

    public List<Persona> Personas { get; set; }
    public List<Persona> PersonasFiltrados { get; set; }

    protected async override Task OnInitializedAsync() {
        Personas = await PersonasBLL.GetPersonas();
        PersonasFiltrados = Personas;
    }

    void ModificarPersona(Persona persona) {
        personaEnModificacion = persona;
        esNuevo = false;
        MostraDialogoEditor = true;
    }

    void AgregarPersona() {
        personaEnModificacion = new Persona();
        esNuevo = true;
        MostraDialogoEditor = true;
    }

    async Task OcultarDialogo() {
        MostraDialogoEditor = false;
        Personas = await PersonasBLL.GetPersonas();
        QuitarFiltros();
    }

    void QuitarFiltros() {
        indexSelect = 0;
        criterioDeBusqueda = "";
        FiltarPersonas();
    }

    void FiltarPersonas() {

        if (indexSelect == 0) {//Todos

            PersonasFiltrados = Personas.Where(e => true).ToList();

        } else if (indexSelect == 1) {//Id

            if (int.TryParse(criterioDeBusqueda , out int Id)) {

                PersonasFiltrados = Personas.Where(e => e.Id == Id).ToList();
            }

        } else if (indexSelect == 2) {//Nombre

            PersonasFiltrados = Personas.Where(e => e.Nombres.ToLower().Contains(criterioDeBusqueda.ToLower())).ToList();

        }

    }



}