@inject IToastService toast

<div class="dialog-container">
    <div class="dialog">
        <EditForm Model="persona" OnValidSubmit="Guardar">
            <div class="dialog-title">
                <h2 id="title-r-personas">@(EsNuevoPersona ? "Nuevo persona" : "Editar persona")</h2>
            </div>
            <div class="dialog-body">

                <FieldsPersona Persona="persona" />

            </div>
            <div class="dialog-buttons">
                <button type="button" class="btn btn-dark" @onclick="OnClose">Cancelar</button>
                <button type="button" disabled="@(!EsNuevoPersona)" class="btn btn-warning" @onclick="Nuevo">Nuevo</button>
                <input type="submit" class="btn btn-success" value="Guardar" />
                <button type="button" disabled="@(EsNuevoPersona)" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
            </div>
            <DataAnnotationsValidator />
        </EditForm>
    </div>
</div>

@code {

    [Parameter] public Persona persona { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public bool EsNuevoPersona { get; set; } // Para saber si va a editar o modificar

    void Nuevo() {
        persona = new Persona();
    }
    async Task Guardar() {


        bool guardo;

        guardo = await PersonasBLL.Guardar(persona);

        if (guardo) {
            toast.ShowSuccess("Guardado ");
            Nuevo();
            await OnClose.InvokeAsync(new { });
        } else
            toast.ShowError("Error al guardar");
    }

    async Task Eliminar() {
        bool eliminado;

        eliminado = await PersonasBLL.Eliminar(persona.Id);

        if (eliminado) {
            toast.ShowSuccess("Eliminado");
            Nuevo();
            await OnClose.InvokeAsync(new { });
        } else
            toast.ShowError("Error al eliminar");
    }

}