<style>
    .form-field {
        display: flex;
        margin: 0.5rem;
    }

        .form-field > label {
            width: 8rem;
        }

        .form-field > div {
            flex-grow: 1;
        }

        .form-field input {
            width: 100%;
        }
</style>

<div class="form-field">
    <label>Nombres: </label>
    <div>
        <InputText @bind-Value="Persona.Nombres" /><br />
        <ValidationMessage For="()=>Persona.Nombres" />
    </div>
</div>
<div class="form-field">
    <label>Balance: </label>
    <div>
        <input type="number" readonly value="@Persona.Balance" /><br />
        <ValidationMessage For="()=>Persona.Balance" />
    </div>
</div>

@code {
    [Parameter] public Persona Persona { get; set; }
}